@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat", sans-serif;
}

/* h1{
  margin:0!important;
  padding: 0 !important;;
} */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0A192F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #013f3c7f; */
  border-radius: 10px;
}

i{
  cursor:pointer;
  font-size: 18px;
}
i:hover{
  color:#f5f5f5;
}

/* loader animatio */

.h{
  animation:h 1s infinite;
}
@keyframes h{
  0%{
    opacity:1;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity:0.5;
  }
}

.r{
  animation: r 1s infinite;
}

@keyframes r {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.j {
  animation: j 1s infinite;
}

@keyframes j {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

input{
  height:40px;
  border:1px solid gray;
  width:100%;
  padding-left:20px;
}

input:focus{
  outline:none;
  border:2px solid rgb(96, 94, 94);
}

input ,textarea{
  height: 40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 20px;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(96, 94, 94);
}

textarea{
  height:100px;
  padding-top:10px;
}

a{
  margin-top:-10px;
  color:#50e8ffd7;
}

a>p:hover{
  color:#5dc49eef;
  
}

/* .ant-modal.wrap{
  z-index:50;
} */